.panel{
  background: white;
  display: block;
  position: absolute;
  z-index: 2;
  right:20px;
  top:45px;
  max-height: 75%;
  overflow-y: scroll;
}

.panel-title{
  color: white;
}
.panel-body{
  margin-left: 10px;
  margin-right: 20px;
}
.map-col {
  padding: 0;
}

.esriSimpleSliderTL {
  left:10px;
  top:10px;
}

#HomeButton {
  position: absolute;
  top: 80px;
  left: 25px;
  z-index: 50;
}

esri-map esri-search .arcgisSearch {
  display: block;
  position: absolute;
  z-index: 3;
  right:20px;
  top:5px;

}


#context-Menu{
  position: absolute;
}
